.footer {
  display: flex;
  align-items: center;
  position: relative;
  height: 50vh;
  justify-content: center;
  margin-bottom: 3rem;
  width: 100%;
}

.f-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 4rem;
  color: white;
}

.f-icons {
  display: flex;
  gap: 2rem;
}

.f-logo {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: flex-end;
}

.f-logo img {
  width: 50%;

}

@media screen and (max-width: 480px) {
  .f-content {
    transform: scale(.5);
  }
}